<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a [routerLink]="['Github']">github</a>
                        </li>
                        <li class="active">
                            <a [routerLink]="['UpdatePass']">updatepass</a>
                        </li>
                        <li class="active">
                            <a [routerLink]="['Courses']">courses</a>
                        </li>

                    </ul>                 
                    
                </div>

            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>