<form [ngFormModel]="form" (submit)="onSubmit()">
    <div class="form-group" >
        <label for="currentPassword"></label>
        <input type="password" 
               class="form-control" 
               id="currentPassword" 
               #password="ngForm"
               ngControl="currentPassword"/>
        <div *ngIf="password.errors && password.touched">
            <div *ngIf="password.errors.required" class="alert alert-danger">
                password is required
            </div>
            <div *ngIf="password.errors.invalidpass" class="alert alert-danger">
                password is not correct
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword"></label>
        <input type="password" class="form-control" id="newPassword"
               ngControl="newPassword" 
               #newPassword="ngForm"/>
        <div *ngIf="newPassword.errors && newPassword.touched">
        <div *ngIf="newPassword.errors.required" class="alert alert-danger">
            new password is required
        </div>
    </div>
    </div>
    <div class="form-group">
        <label for="newPasswordRepeat"></label>
        <input type="password" class="form-control" id="newPasswordRepeat" ngControl="newPasswordRepeat" 
               #newPasswordRepeat="ngForm" [class.ng-invalid]="form.errors?.repeatPass"/>
        <div *ngIf="newPasswordRepeat.errors && newPasswordRepeat.touched">
            <div *ngIf="newPasswordRepeat.errors.required" class="alert alert-danger">
                new password repeat is required
            </div>
        </div>
        <div *ngIf="form.errors?.repeatPass && newPasswordRepeat.dirty" class="alert alert-danger">
            repeat is not the same
        </div>
    </div>
    <input type="submit" value="submit" [disabled]="!form.valid"/>
</form>